{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="container my-5">
  <h1 class="mb-4">{{ form.instance.pk|yesno:"Edit Recipe,Create Recipe" }}</h1>

  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      {{ form.name.label_tag }}
      {{ form.name }}
    </div>
    <div class="mb-3">
      {{ form.recipe_type.label_tag }}
      {{ form.recipe_type }}
    </div>
    <div class="mb-3">
      {{ form.instructions.label_tag }}
      {{ form.instructions }}
    </div>

    <button type="submit" class="btn btn-primary">Save Recipe</button>
  </form>

  {% if form.instance.pk %}
    <hr>
    <h2 class="mt-5">Ingredients</h2>
    <a href="{% url 'ingredient-list' recipe_id=form.instance.pk %}" class="btn btn-secondary mt-3">Manage Ingredients</a>
  {% endif %}
</section>
{% endblock %}