{% extends 'base.html' %}
{% block content %}
<div class="container mt-5" style="max-width: 700px;">
  <h1 class="mb-3">About Flavorly</h1>
  <hr />
  <h2 class="mb-4">Creator: Zebastian Rodriguez</h2>
  <p>
    I created Flavorly as a personal space to store and share my favorite recipes. Cooking has always been a meaningful outlet for me—a way to express myself and find comfort through creativity.
  </p>
  <p>
    As I began learning to code, I saw an opportunity to combine my passion for food with my new skills. This site was built as a project using Python and Django, technologies I studied in my General Assembly Software Engineering Bootcamp. I chose this stack to deepen my experience and apply what I learned in a real-world context.
  </p>
  <p>
    For styling, I used Bootstrap CSS to strengthen my front-end skills and become more comfortable with responsive design. Styling has always been a challenge for me, so working with a framework like Bootstrap has helped me grow as a more well-rounded developer.
  </p>
  <p>Looking ahead, I plan to expand Flavorly with several new features. I want to add filtering capabilities so users can easily sort through recipes based on ingredients, type, or dietary needs. I'm also planning to include a favoriting system, allowing users to save their go-to dishes. Most excitingly, I hope to build a community feature where users can share their own recipes, view others’, upvote their favorites, and see the most popular dishes highlighted on the site. These enhancements will help make Flavorly a more engaging and collaborative space for food lovers.
  </p>
</div>
{% endblock %}
