{% extends 'base.html' %} 
{% block content %}
<h1>About Flavorly</h1>
<hr />
<h2>Creator: Zebastian Rodriguez</h2>
<p class="page-content">
    I made Flavorly as a place where I can store my favorite recipes! I have always have such a love for food as cooking was always a way for me to express myself and escape from my emotions. Since I started learning to code I figured I would make my own site to further expand on my love for food. I made this site as a project with Python and Django. I decided on this stack in order to get more experience with it after learning Python and Django from my GA Software Engineering Bootcamp. For styling I decided to use Tailwind CSS as that is a skill I want to add into my toolbelt. I also wanted the practice with Tailwind as styling is where I would say I struggle the most as a developer, so learning a styling library will help me grow!
{% endblock %}
